#NET "BTN0" LOC = G12;
#NET "BTN1" LOC = C11;
#NET "BTN2" LOC = M4;
#NET "BTN3" LOC = A7;

NET "INPUT<0>" LOC = P11;
NET "INPUT<1>" LOC = L3;
NET "INPUT<2>" LOC = K3;
NET "INPUT<3>" LOC = B4;

NET "AN<0>" LOC = F12;
NET "AN<1>" LOC = J12;
NET "AN<2>" LOC = M13;
NET "AN<3>" LOC = K14;

NET "SAIDA<0>" LOC = L14;
NET "SAIDA<1>" LOC = H12;
NET "SAIDA<2>" LOC = N14;
NET "SAIDA<3>" LOC = N11;
NET "SAIDA<4>" LOC = P12;
NET "SAIDA<5>" LOC = L13;
NET "SAIDA<6>" LOC = M12;
NET "SAIDA<7>" LOC = N13;
